* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2cm;
}

.hidden {
    display: none !important;
}


.question-number {
    background-color: #ccc;
    border: 1px solid #000;
    padding: 8px 20px;
}

#question {
    display: inline-block;
    font-size: 24px;
    margin-top: 50px;
    justify-items: center;
    width: 100%;
}

.question-main {
    border: 1px solid #000;
    padding: 17px 20px 20px 20px;
}

.question-point {
    float: right;
}

.multi-row .anwser-text {
    width: 100%;
}

.multi-row div {
    display: flex;
}

.multi-row span {
    margin-left: 10px;
}

.multi-row {
    display: flex;
    flex-direction: column;
}

.match-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.match-row div div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.match-row div {
    width: 100%;
    display: flex;
}